@import '~/styles/variables.scss';

.cardcontainer {
    display: inline-block;
    border: 2px solid $color-secondary;
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-primary;
        color: $color-secondary;
        font-size: 32px;
    }
}