@import '~/styles/variables.scss';
.gameControl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    @media (min-width: $medium) {
        width: 710px;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
    }
    @media (min-width: $large) {
        width: 740px;
    }
    .scoreBoard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        background-color: $color-primary;
        padding: 10px;
        line-height: 30px;
        color: $color-secondary;
        font-size: 12px;
          @media (min-width: $medium) {
            font-size: 16px;
        }
    }
}