
$small: 300px;
$medium: 900px;
.gameControl {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
    @media (min-width: $medium) {
        width: 750px;
    }
    .scoreBoard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        background-color: black;
        padding: 10px;
        line-height: 30px;
        color: white;
        font-size: 12px;
          @media (min-width: $medium) {
            font-size: 16px;
        }
    }
}